NEW USER

<form action="/users" method="post">

  <label for="username">Username:</label>
  <input type="text" id="username_id" name="user[username]"><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email_id" name="user[email]"><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password_id" name="user[password]"><br><br>

  <input type="submit" value="Submit">

</form> 